@model Kit_Up.Models.Cart

<li>
    <a class="btn-sm ml-3" href="/Cart" style="background-color: #f5a425!important;">
        Sepetim
        <span style="color: #212d43 ">
            (@Model.CardLines.Count)
        </span>

    </a>
</li>