
@{
    ViewBag.Title = "Kayıt Ol   ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section coming-soon" data-section="section3">
    <div class="container">
        <div class="row">
            @*<div class="col-md-7 col-xs-12">
                <div class="continer centerIt">
                    <div>
                        <h4>
                            Take <em>any online course</em> and win $326 for your next
                            class
                        </h4>
                        <div class="counter">
                            <div class="days">
                                <div class="value">00</div>
                                <span>Days</span>
                            </div>

                            <div class="hours">
                                <div class="value">00</div>
                                <span>Hours</span>
                            </div>

                            <div class="minutes">
                                <div class="value">00</div>
                                <span>Minutes</span>
                            </div>

                            <div class="seconds">
                                <div class="value">00</div>
                                <span>Seconds</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-md-12">
                <div class="right-content">
                    <div class="top-content">
                        <h6>
                            "Okumayı sevmek, hayattaki can sıkıcı saatleri en güzel saatlere değiştirmektir."
                            <br>
                            <em>Montesquieu</em>
                        </h6>
                    </div>
                    <form id="contact" action="" method="get">
                        <h1 style="color:#fff">Kayıt ol</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name"
                                           type="text"
                                           class="form-control"
                                           id="name"
                                           placeholder="Adınız"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="surname"
                                           type="text"
                                           class="form-control"
                                           id="name"
                                           placeholder="Soyadınız"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email"
                                           type="text"
                                           class="form-control"
                                           id="email"
                                           placeholder="E-Posta Adresiniz"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="phone-number"
                                           type="text"
                                           class="form-control"
                                           id="phone-number"
                                           placeholder="Cep Telefonu"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="sifre"
                                           type="text"
                                           class="form-control"
                                           id="sifre"
                                           placeholder="Şifre"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="sifre-tekrar"
                                           type="text"
                                           class="form-control"
                                           id="sifre-tekrar"
                                           placeholder="Şifre Tekrar"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="button">
                                        Kaydol
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>